<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Message</title>
</head>
<body>
  <p>you have receive a message from the site contact form, From <%= "#{ @name}, #{ @email }." %></p>
  <p><%= "#{@body}"%></p>
</body>
</html>
